.container {
    height: calc(100vh - 95px);
    width: 100%;
	padding: 10rem 5rem;
	display: flex;
}

.item {
    flex: 1;
}

.item:first-child {
    flex: 1;
}

.item:last-child {
    flex: 1;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.title {
    font-size: 80px;
    border-bottom: 5px solid #f4a999;
	text-transform: uppercase;
    text-align: end;
	color: black;
}

.desc {
    font-size: 1.3rem;
	line-height: 2rem;
	margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.button {
    padding: 1rem 2rem;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.548);
	color: whitesmoke;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 5px;
}

@media screen and (max-width:600px) {
    .container {
        display: block;
        height: auto;
        padding: 0;
    }

    .title {
        font-size: 45px;
        text-align: center;
    }

}



